<div class="post-content badges">
    <div class="badge">
        <img class="badge-img" src="/assets/img/az-104.png" style="height:10em;" alt="Badge: AZ-104">
    </div>
    <div class="badge">
        <img class="badge-img" src="/assets/img/az-304.png" style="height:10em;" alt="Badge: AZ-304">
    </div>
    <div class="badge">
        <img class="badge-img" src="/assets/img/aws-sol-arch-assoc.png" style="height:10em;" alt="Badge: AWS Solutions Architect Associate">
    </div>
    <div class="badge">
        <img class="badge-img" src="/assets/img/vcp-dcv-2020.png" style="height:10em;" alt="Badge: VMware VCP DCV 2020">
    </div>
    <div class="badge">
        <img class="badge-img" src="/assets/img/itil-foundation.gif" style="height:10em;" alt="Badge: ITIL Foundations">
    </div>
</div>
<div>
    <figcaption>Check my full, up-to-date certification list <a href="https://www.credly.com/users/dario-martinbuil/badges">here</a>.</figcaption>
</div>
