<div class="grid-container" style="display: grid;grid-template-columns: auto auto auto auto;">
    <div class="grid-item" style="  grid-column-start: 1;
    grid-column-end: 1;">
        <img src="/assets/img/az-104.png" style="height:10em;">
    </div>
    <div class="grid-item">
        <img src="/assets/img/az-304.png" style="height:10em;">
    </div>
    <div class="grid-item">
        <img src="/assets/img/aws-sol-arch-assoc.png" style="height:10em;">
    </div>
    <div class="grid-item">
        <img src="/assets/img/vcp-dcv-2020.png" style="height:10em;">
    </div>
    <div class="grid-item">
        <img src="/assets/img/itil-foundation.gif" style="height:10em;">
    </div>
</div>