// Variables

// Main color
$primary-color: rgba(0,0,38,1);

// Anchor color
$secondary-color: #00cdff;

// Font color
$font-color: #fff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: rgba(0,0,0,1);
$intro-text-color: $font-color;
$intro-text-font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$intro-text-font-weight: 100;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
